* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* header section */
header {
    width: 100%;
    box-shadow: 0 0 1px 0 gray;
}

nav {
    width: 80%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
}
